@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/********** Generic for all pages ***********/
* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    position: relative;
    background-image: linear-gradient(to left, floralwhite, #C57A86);
}

header, img {
    position: absolute;
    width: 150px;
    mix-blend-mode: lighten;
    margin-left: 5px;
    margin-top: -10px;
}

.header-box {
    display: flex;
    font-size: 3.5rem;
    font-weight: lighter;
    text-shadow: 1px 1px 0px saddlebrown;
    color: #D99099;
    margin-left: 68%;
}

#header-box, p {
    margin-left: -17%;
}

.menu-bar {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    min-width: 99%;
    height: 60px;
    top: 75%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1)
}

.menu-bar .menu-style a {
    color: #fff0ed;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 1px 1px 0px saddlebrown;
}

.menu-bar .menu-style .spacing {
    margin-left: 70px;
}

.menu-bar #current-user {
    color: #fff0ed;
    font-size: 18px;
    text-shadow: 1px 1px 0px saddlebrown;
    font-weight: lighter;
}

.menu-bar h1 {
    color: #fff0ed;
    font-size: 18px;
    text-shadow: 1px 1px 0px saddlebrown;
    font-weight: lighter;
}

.menu-bar #basket {
    margin-left: 550px;
    margin-top: 8px;
    font-size: 30px;
    text-shadow: 1px 1px 0px saddlebrown;
}

/***************** Front page *******************/

.flex-login {
    display: flex;
    position: absolute;
    width: 360px;
    min-height: 340px;
    top: 92.5%;
    left: 65%;
    padding-left: 30px;
    padding-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 3px;
}

.flex-login #register-link {
    font-size: 10px;
    text-align: right;
}

#register-link p {
    color: saddlebrown;
    margin-left: 38px;
    font-size: 11px;
    width: 100%;
    margin-top: 20px;
}

#register-link a {
    color: #fff0ed;
    margin-left: 15px;
    font-size: 11px;
}

.flex-login h1 {
    color: #D99099;
    font-weight: normal;
    font-size: 40px;
    text-shadow: 1px 1px 0px saddlebrown;
    margin-top: 5px;
}

#sign-in {
    margin-top: 50px;
    margin-left: -88%;
}

.flex-login h3 {
    color: #fff0ed;
    font-weight: normal;
    font-size: 14px;
    margin-top: 20px;
}

.input-box {
    color: #fff0ed;
    width: 100%;
    height: 40px;
    margin: 10px 10px 10px 0;
}

.input-box input {
    border-radius: 4px;
}

.input-box input[type=text], .input-box input[type=password] {
    padding: 5px;
    font-size: 1rem;
    width: 100%;
    background: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, .3);
}

::placeholder {
    color: #fff0ed;
}

.flex-login .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 5px 0 15px;
    color: #fff0ed;
}

.remember-forgot input {
    margin-right: 5px;
}

.remember-forgot a {
    color: saddlebrown;
    margin-left: 40px;
    margin-top: 3px;
}

.remember-forgot label input {
    accent-color: #ffffff;
    margin-right: 5px;
    margin-top: 5px;
}

#logout {
    color: saddlebrown;
    font-size: 12px;
    margin-bottom: 20px;
}

#logout a {
    color: saddlebrown;
}

.flex-login .btn {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    background: #fff0ed;
    color: #D99099;
    text-shadow: 1px 1px 0px floralwhite;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 14px;
}

#bg-image {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 180%;
    left: 49.7%;
    transform: translate(-50%, -50%);
}

#bg-image img {
    width: 1285px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/*********** Order-page ***********/

.flex-order {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    top: 65%;
    left: 40%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.flex-order .generic-form {
    margin-top: 80px;
    margin-left: -53%;
}

.generic-form p {
    margin-left: 0%;
    font-size: 20px;
    color: #fff0ed;
}

.flex-order h2 {
    color: #D99099;
    font-weight: bold;
    font-size: 26px;
    text-shadow: 1px 1px 0px saddlebrown;
}

.order-label {
    font-size: 20px;
    color: #fff0ed;
}

.order-style {
    padding: 3px;
    background: #fff0ed;
    color: #D99099;
    border-radius: 5px;
    outline: #fff0ed;
}

.generic-form #btn-order {
    padding: 10px;
    background: #fff0ed;
    color: #D99099;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 215%;
    left: 60%;
    transform: translate(-30%, -50%);
}

.img-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    margin: 10px;
    margin-bottom: 20px;
}

.img-item img {
    justify-items: center;
    width:  120px;
    height: 120px;
    object-fit: cover;
    border: 3px solid #fff0ed;
    border-radius: 5px;
}

.img-item .img-text {
    margin-top: 140px;
    margin-left: 5px;
    font-size: 13px;
    font-weight: normal;
    color: #D99099;
}

/************ About ***********/

#msg h1 {
    display: flex;
    transform: translate(-340%, 150%);
    color: #fff0ed;
    font-weight: lighter;
    font-size: 50px;
    text-shadow: 1px 1px 0px saddlebrown;

}

/*body {
    background-image: url("public/images/background.png");
    min-height: 100%;
    min-width: 100%;
}*/
/*.front-page {
    display: flex;
    font-family: "Poppins", sans-serif;
}

/*header {
    background-color: #fee;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

button {
    padding: 10px 15px;
    background-color: #8cdfb8;
    border: none;
    cursor: pointer;
}*/