<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check out</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<header>
    <img alt="logo" src="../public/images/logo.png" th:src="@{/images/logo.png}">
</header>

<div class="header-box">
    <p1>OLSKER</p1>
    <p>CUPCAKES</p>
</div>

<div class="menu-bar">
    <menu>
        <div class="menu-style">
            <span><a href="order.html" th:href="@{/order}">Home</a></span>
            <span class="spacing"><a href="profile.html" th:href="@{/profile}">Profile</a></span>
            <span class="spacing"><a href="contact.html" th:href="@{/contact}">Contact</a></span>
            <span><h1>You're logged in as <span id="current-user" th:text="${session.currentUser.email}"></span></h1></span>
        </div>
    </menu>
    <div id="basket">
        <a href="cart.html" th:href="@{/cart}"><i class='bx bx-basket' style='color:#D99099' ></i></a>
    </div>
</div>

<div class="check-out">
    <h1>Complete your order</h1>
    <div class="checkout-form">
        <h4>Payment</h4>
        <label id="fname" for="fname">Accepted Cards</label>
        <div class="icon-container">
            <i class="fa fa-cc-visa" style="color:navy;"></i>
            <i class="fa fa-cc-amex" style="color:blue;"></i>
            <i class="fa fa-cc-mastercard" style="color:red;"></i>
            <i class="fa fa-cc-discover" style="color:orange;"></i>
        </div>
    <form id="payment-form" method="post">
        <div>
            <input type="text" name="cardname" placeholder="CARD NAME" required>
            <input type="text" name="cardnumber" placeholder="CARD NUMBER" required>
        </div>
        <div>
            <input type="text" name="expdate" placeholder="EXP MONTH/YEAR" required>
            <input type="text" name="cvv" placeholder="CVV" required>
        </div>

        <button type="submit" formaction="/payment">Pay</button>

        <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>
    </form>
    </div>
</div>

</body>
</html>