<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

<!--header>
    <a href="index.html" th:href="@{/}">
        <img alt="logo" src="../public/images/logo.png" th:src="@{/images/logo.png}">
    </a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/order.html">Order</a></li>
            <li><a href="/logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Log ud</a></li>
        </ul>
        <form id="logout-form" action="/path-to-your-logout-handler" method="POST" style="display: none;">
            < håndtere log ud
        </form>
    </nav>
</header>-->

<header>
        <img alt="logo" src="../public/images/logo.png" th:src="@{/images/logo.png}">
</header>

<div class="header-box">
    <p1>OLSKER</p1>
    <p>CUPCAKES</p>
</div>

<div class="menu-bar">
    <menu>
        <div class="menu-style">
            <span><a href="order.html" th:href="@{/order}">Home</a></span>
            <span class="spacing"><a href="profile.html" th:href="@{/profile}">Profile</a></span>
            <span class="spacing"><a href="contact.html" th:href="@{/contact}">Contact</a></span>
            <span class="spacing" th:if="${session.currentUser != null}"><a href="index.html" th:href="@{/logout}">Logout</a></span>
        <span><h1>You're logged in as <span id="current-user" th:text="${session.currentUser.email}"></span></h1></span>
        </div>
    </menu>
    <div id="basket">
        <a href="cart.html" th:href="@{/cart}"><i class='bx bx-basket' style='color:#D99099' ></i></a>
        <span style='color: #fff0ed'>0</span>
    </div>
</div>

<main>
    <h2>Welcome, [User Name]!</h2>
    <section>
        <h3>Your recent orders</h3>
        <ul>
            <li>Order #10234 - Date: 2024-01-10</li>
            <li>Order #10235 - Date: 2024-02-11</li>
            <li>Order #10236 - Date: 2024-03-12</li>
            <!-- Juju du må gerne tilføje flere ordre her, hvis du mener der magler-->
        </ul>
    </section>
</main>
</body>
</html>